<h1>Make an episode</h1>

<%= form_for @episode do |f| %>
  Name: <%= f.text_field :name  %>
  <br>
  Show: <%= f.collection_select(:show_id, @shows, :id, :name) %>
  <br>
  Song: <%= f.collection_select(:song_id, @songs, :id, :name) %>
  <br>
  Air Date: <%= f.number_field :air_date  %>
  <br>
  <%= f.submit %>
<% end %>

